*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    /* background-color: #212121; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    justify-content: start;
    
}
.input{
    border: none;
    border-radius: 3px;
    background-color: black;
    color: aliceblue;
    font-size: 35px;
    text-align: right;
    width: 248px;
    flex: 2;
    padding: 0;
}
 
.row{
    display: flex;
    flex: 1;
}
.coloums {
     border: 1px solid black; 
    background-color: #464545;
    color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

